body {
  background-color: #F3EAE7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

}

.title_background{
  background-color: #9C9492;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_title{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin: 3px;
  color: white;
  font-size: 20px;
}

.actionButton{
  background-color: #DF8484;
  border-color: #DF8484;
  width: 40%;
  color: white;
}

strong{
  font-family: 'Oswald', sans-serif;
}

label{
  font-family: 'Oswald', sans-serif;
}
