#logo{
  position: relative;
  max-width: 10%;
  top: -4px;
}

/*.navbar-default {
    background-color: black;
    border-color: black;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-custom a {
    color: white;
}*/