<nav-bar></nav-bar>

<h1>This page is show</h1>

<div class="container" ng-controller='DesignsController'>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{design.image_url}}">
        <div class="caption">
          <h3>The Story</h3>
          <p>{{design.description}}</p>
          <button class="btn btn-primary" ng-click="bookmarkDesign()">Save Design</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container" ng-show="current_user">
  <div  class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <form>
          <fieldset class="form-group">
            <label for="your_score">Your Score</label>
            <select class="form-control" ng-model="score">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="container" ng-show="current_user">
  <div  class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <form>
          <fieldset class="form-group">
            <label for="comment">Your Comment</label>
            <textarea class="form-control" rows="3"></textarea>
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div ng-controller='CommentsController'>

</div> -->

