<nav-bar></nav-bar>

<div class="title_background">
<h3 class="main_title">The Home Story</h3>
</div>

<div ng-controller='DesignsController'>


  <div class="container" >
    <div class="row">
      <div>
        <div class="thumbnail">
          <img ng-src="{{design.image_url}}">
          <div class="caption">
            <p><strong>Property name</p></strong>
            <p>{{design.property_name}}</p>
            <p><strong>Details</p></strong>
            <p>{{design.description}}</p>
            <p><strong>Apartment nize</p></strong>
            <p>{{design.property_name}}</p>
            <p>
              <strong>Overall budget: </strong></br>
              {{design.budget}}
            </p>
            <button class="btn btn-default actionButton" ng-click="bookmarkDesign()">Save Design</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller='CommentsController'>

  <div class="container" ng-show="current_user">
    <div  class="row">
      <div >
        <div class="thumbnail">
          <form ng-submit='addComment()' class="caption">
            <fieldset class="form-group">
              <label for="comment">Your Comment</label>
              <textarea class="form-control" rows="3" ng-model="newComment"></textarea>
            </fieldset>
            <button type="submit" class="btn btn-default actionButton">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="title_background">
<h3 class="main_title">Comments</h3>
</div>

  <div class="container" >
    <div class="row">
      <div ng-repeat="comment in all">
        <div class="thumbnail">
          <div class="caption">
            <p><i>{{comment.comment}}</i></p> </br>
            <p><strong>posted by: </strong>{{comment.user_id.local.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



