<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HomeStory</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="current_user"><a href="/#/signup">Sign up</a></li>
        <li ng-hide="current_user"><a href="/#/signin">Log in</a></li>
        <li ng-show="current_user"><a ng-click="logout()">Log out</a></li>
        <li ng-show="current_user"><a href="/#/bookmarks">My Favorites</a></li>
        <li ng-show="current_user"><a href="/#/new">Upload your home design</a></li>
      </ul>
    </div>

  </div>
</nav>

