<meta charset="UTF-8">
<title>HomeStory</title>

<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/general.css">
<link rel="stylesheet" type="text/css" href="css/navbar.css">
<link rel="stylesheet" type="text/css" href="css/landing.css">
<link rel="stylesheet" type="text/css" href="css/result.css">
<link rel="stylesheet" type="text/css" href="css/show.css">
<link rel="stylesheet" type="text/css" href="css/signin.css">
<link rel="stylesheet" type="text/css" href="css/signup.css">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/javascript/angular_config.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/javascript/angular/controllers/designs_controller.js"></script>
<script src="/javascript/angular/controllers/bookmarks_controller.js"></script>
<script src="/javascript/angular/controllers/comments_controller.js"></script>
<script src="/javascript/angular/controllers/signup_controller.js"></script>
<script src="/javascript/angular/controllers/signin_controller.js"></script>
<script src="/javascript/angular/factories/currentUser.js"></script>
<script src="/javascript/angular/controllers/navbar_controller.js"></script>
<script src="/javascript/angular/directives/navbarView.js"></script>


